/CareTaskPro/nbproject/private/
/CareTaskPro/CareTaskPro-war/nbproject/private/
/CareTaskPro/CareTaskPro-ejb/nbproject/private/
/CareTaskPro/dist/
/CareTaskPro/build/
/CareTaskPro/CareTaskPro-ejb/build/
/CareTaskPro/CareTaskPro-ejb/dist/
/CareTaskPro/CareTaskPro-war/build/
/CareTaskPro/CareTaskPro-war/dist/
.DS_Store
CareTaskPro/.DS_Store
CareTaskPro/src/.DS_Store
CareTaskPro-ejb/setup/glassfish-resources.xml
/CareTaskPro/CareTaskProMobile-war/dist/