/CareTaskPro/nbproject/private/
/CareTaskPro/CareTaskPro-war/nbproject/private/
/CareTaskPro/CareTaskPro-ejb/nbproject/private/
/CareTaskPro/dist/
/CareTaskPro/build/
/CareTaskPro/CareTaskPro-ejb/build/
/CareTaskPro/CareTaskPro-ejb/dist/
/CareTaskPro/CareTaskPro-war/build/
/CareTaskPro/CareTaskPro-war/dist/
/CareTaskPro/CareTaskProMobile-war/dist/